 <h1 class="fw-bold, text-center">
  about
 </h1>

<p class="fs-4, text-center">
 ながのcakeは全国発送可能なケーキ屋さんです。
 <div class="text-wrap, text-center" >
 お子様からお年寄りの方までお召し上がりいただけるよう、
 </div>
 <div class="text-wrap, text-center" >
 様々なバリエーションを用意しております。
 </div>
 <div class="text-wrap, text-center" >
 また、全国発送ですので「いつ」でも「どこ」でもご注文いただけます。
 </div>
 <div class="text-wrap, text-center" >
 ぜひご注文ください。
 </div>
</p>